<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>game_home</title>
  </head>
  <body>
    <div class="login">


    <h1>game_home </h1>

    <div id="body">


    <h2>Hello</h2>
    <br>

    <a id="link" href="/log-out">Logout</a><br><br>

    <a id="link" href="/adminregister">Add Users</a><br><br>

    <a id="link" href="/database">database</a><br><br>

    <a id="link" href="/delete">Delete-User</a><br><br>

    <a id="link" href="/search">Search-User</a><br><br>

    <a id="link" href="/gamehome">Game</a>

 </div>

    </div>
  </body>
</html>
