<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
  </head>
  <body>

    <div class="login">
      <h1>Delete_User</h1>

     <div id="body">


      <ul>
        <% if (messages.success_msg) { %>
        <li><%= messages.success_msg %></li>
         <% } %>
      </ul>

      <ul>
        <% if (messages.error) { %>
        <li><%= messages.error %></li>
         <% } %>
      </ul>

      <ul>
       <% if (typeof errors != 'undefined')  { %>
         <% errors.forEach(error => { %>
            <li><%= error.message %></li>
        <% }) %>
      <% } %>
       </ul>

      <form action="/deleteUser" method="POST">

      <div class="input_box">
        <i class="far fa-user"></i>
        <input type="id" id="id" name="id" placeholder="Enter User's id to delete" required>
      </div>


      <input type="submit" class="button" value="deleteUser">

        <a id="link" href="/admin">game_home</a>

        </div>


      </form>
  </body>
</html>
